body
{
    text-align: center;
    background-image:url('https://fiverr-res.cloudinary.com/videos/t_main1,q_auto,f_auto/msrpmeyynrx5wem32fdf/doodle-to-feed-my-family.png');
}

.btn
{
    background-color: orange;
    border-radius: 10px;
    font-size: 28px;
    color: red;
    margin-bottom: 10px;
    box-shadow: 20px 15px 18px grey;
}

#Rainbow
{
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, purple);
    border-radius: 15px;
    padding-bottom: 10px;
}

.result_para_tag
{
    font-size: 24px;
    padding: 10px;
    color: white;
    background-color: red;
    border-radius: 10px;
    margin-top: 20px;
    width: 10%;
}

.object_accurancy_object
{
    background-image: linear-gradient(to left, red, orange, yellow, green, blue, purple);
    border-radius: 15px;
    padding-bottom: 10px; 
    padding-top: 10px;
    margin-bottom: 30px;
}

#copy_right_footer
{
    background-color: rgb(58, 58, 58);
    padding: 5px;
    border-radius: 5px;
    
}

.camera_back
{
    background-image: linear-gradient(to left, red, orange, yellow, green, blue, purple);
    border-radius: 15px;
    padding-bottom: 10px; 
    padding-top: 10px;
    margin-bottom: 15px;
}

#camera
{
    width: 200px;
    height: 200px;
    border-color: black;
    border-style: dashed;
}